.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  15px 6%;
}
ul {
    flex: 1;
    list-style: none;
    text-align: center;
}
ul li{
    display: inline;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
.toggle-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;

}
.search-box{
    display: flex;
    align-items: center;
    padding: 5px 5px;
    border-radius: 30px;
    background-color: black;
}
.search-box input{
    padding: 6px;
    background: transparent;
    font-size: 18px;
    max-width: 200px;
    border-radius: 30px;

}
.search-box img{
    width: 30px;
    background-color: gray;
}